@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poiret+One&display=swap');

@import "tailwindcss";

@theme {
  --color-violet : RGB(212, 205, 255);
  --color-blue : RGB(202, 228, 253);
  --color-yellow : rgba(248, 246, 107, 0.61);
  --color-red : rgba(230, 107, 104, 0.61);
  --color-green : rgba(110, 242, 125, 0.61);
  --color-coral : RGB(189, 233, 225);
  --color-pink: RGB(255, 214, 235); 
  --color-lime: RGB(230, 255, 200);
  --color-light : RGB(249, 250, 255);
  --color-redTxt: RGB(108, 14, 13);
  --color-greenTxt : RGB(20, 127, 33);
  --color-yellowTxt : RGB(180, 110, 18);
  --color-opacit: rgba(255, 255, 255, 0.41);
  --color-black: rgba(51, 51, 51, 1);
  --color-dark-blue: rgba(100, 193, 105, 1);
  --font-montserrat : "Montserrat", "sans-serif";
}